<section id="{{ id }}" aria-labelledby="{{ id }}--heading" class="section">
  {% assign pageId = linkHref | slugify %}
  <img
    alt=""
    src="{{ linkHref }}/image.jpeg"
    eleventy:pictureattr:class="section__picture"
    class="section__image"
    {% assign defaultViewTransitionName = 'page-image--' | append: pageId %}
    style="view-transition-name: {{ imageViewTransitionName | default: defaultViewTransitionName }}"
  >

  <div class="section__content">
    <h2 id="{{ id }}--heading">{{ heading }}</h2>

    {{ content }}

    <a
      href="{{ linkHref }}"
      aria-describedby="{{ id }}"
      data-view-transition-name="page-title--{{ pageId }}"
      class="section__link"
    >
      Learn more
    </a>
  </div>
</section>

<script type="module" data-bundle>
  window.addEventListener('click', (event) => {
    const anchor = event.target;
    const viewTransitionName = anchor.dataset.viewTransitionName;
    if (!['', 'none'].includes(viewTransitionName)) {
      anchor.style.viewTransitionName = viewTransitionName;
    }
    const allAnchors = Array.from(document.querySelectorAll(`[data-view-transition-name="${viewTransitionName}"]`));
    for (const el of allAnchors) {
      if (el !== anchor) {
        el.style.viewTransitionName = 'none';
      }
    }
  });
</script>
