---
layout: default.html
title: "Pottery courses and ceramic workshops in Berlin"
# description: "TODO"
og_image: "./wheelthrowing/image.jpeg"
eleventyNavigation:
  key: pottery-courses-and-workshops
  title: "Courses &amp; Workshops"
  order: 02
---
{% include 'page-title.html' %}

<p>Join our wheel­throwing classes, hand­building workshops or book a team event.</p>

<p>
  <strong>November & December special: book a private class for the price of a group class!</strong>
</p>

<ul class="shop-items">
  <li class="shop-item">
    {% assign url = page.url | append: 'wheelthrowing/' %}
    <img
      alt=""
      src="{{ url }}/image.jpeg"
      style="view-transition-name: page-image--{{ url | slugify }}"
      >
      <a
        href="{{ url }}"
        class="shop-item__link"
        style="view-transition-name: page-title--{{ url | slugify }}"
        >
        Pottery wheel course
      </a>
  </li>

  <li class="shop-item">
    {% assign url = page.url | append: 'handbuilding/' %}
    <img
      alt=""
      src="{{ url }}/image.jpeg"
      style="view-transition-name: page-image--{{ url | slugify }}"
      >
      <a
        href="{{ url }}"
        class="shop-item__link"
        style="view-transition-name: page-title--{{ url | slugify }}"
        >
        Handbuilding course
      </a>
  </li>

  <li class="shop-item">
    {% assign url = page.url | append: 'gift-voucher/' %}
    <img
      alt=""
      src="{{ url }}/image.jpeg"
      style="view-transition-name: page-image--{{ url | slugify }}"
      >
      <a
        href="{{ url }}"
        class="shop-item__link"
        style="view-transition-name: page-title--{{ url | slugify }}"
        >
        Gift voucher
      </a>
  </li>
</ul>
<style data-bundle>
{% include 'styles/components/shop.css' %}
</style>
