<p class="intro">
  <strong class="p-name p-org">Clay Stories</strong> is a
  <span itemprop="description">
    <span class="p-category">pottery studio and collective based</span>
    in the
    <a href="{{ settings.map_url }}" target="_blank" rel="noopener noreferrer">heart of Berlin Prenzlauerberg</a>.
  </span>
  <span class="p-note">
    Our goal is to create meaningful connections through the art of ceramics. We believe that every piece of clay tells
    a story, and we are here to help you tell yours.
  </span>
</p>

{% section 'home-content' %}
