<p class="intro">
  <strong class="p-name p-org">Clay Stories</strong> is a
  <span itemprop="description">
    <span class="p-category">pottery studio and collective based</span>
    in the
    <a href="{{ settings.map_url }}" target="_blank" rel="noopener noreferrer">heart of Berlin Prenzlauerberg</a>.
  </span>
  <span class="p-note">
    Our goal is to create meaningful connections through the art of ceramics. We believe that every piece of clay tells
    a story, and we are here to help you tell yours.
  </span>
</p>

{%- capture studio_content -%}
<p>Join our pottery studio in Prenzlauer Berg, Berlin.</p>
{%- endcapture -%}
{% render 'home-section',
  id: 'studio-memberships',
  link_href: '/pages/studio-memberships',
  heading: 'Pottery studio memberships',
  content: studio_content,
  image: 'studio-memberships-image.jpeg'
%}

{%- capture courses_content -%}
<p>
  Join our wheel&shy;throwing classes, hand&shy;building workshops, book a
  private session or a team event.
</p>
{%- endcapture -%}
{% render 'home-section',
  id: 'pottery-courses-and-workshops',
  link_href: '/pages/pottery-courses-and-workshops',
  heading: 'Pottery courses and ceramic workshops in Berlin',
  content: courses_content,
  image: 'wheelthrowing.jpg'
%}

{%- capture claydate_content -%}
<p>
  Book a clay date for two and spend a cosy time creating together. 
</p>
{%- endcapture -%}
{% render 'home-section',
  id: 'clay-date',
  link_href: '/pages/clay-date',
  heading: 'Clay Date',
  content: claydate_content,
  image: 'clay-date-image.jpeg'
%}

{%- capture shop_content -%}
<p>
  Visit our studio to buy unique handmade ceramics created by our collective of
  artists.
</p>
{%- endcapture -%}
{% render 'home-section',
  id: 'shop-handmade-ceramics',
  link_href: '/pages/shopceramics',
  heading: 'Shop handmade ceramics',
  content: shop_content,
  image: 'shop-image.jpeg'
%}

{%- capture wildclay_content -%}
<p>
  Learn you how to search for wild clay and make pottery with a deep connection
  to your local environment.
</p>
<p>Wild clay workshops coming soon!</p>
{%- endcapture -%}
{% render 'home-section',
  id: 'wildclay-berlin',
  link_href: '/pages/wild-clay',
  heading: 'Wild clay: stories captured in clay',
  content: wildclay_content,
  image: 'wild-clay-image.jpeg'
%}

{%- capture about_content -%}
<p>
  We're Rachel and Anna, two ceramic artists from Berlin, passionate about clay
  and storytelling.
</p>
<p>
  We're looking forward to welcoming you to our pottery studio and sharing our
  love for clay with you.
</p>
{%- endcapture -%}
{% render 'home-section',
  id: 'about-us',
  link_href: '/pages/about',
  heading: 'About us',
  content: about_content,
  image: 'about-image.jpeg'
%}
