{% render 'page-title' %}

<p>Join our wheel­throwing classes, hand­building workshops or book a team event.</p>

<img src="{{ 'courses-january.jpg' | asset_url }}" alt="Pottery courses and ceramic workshops in Berlin">

<ul class="shop-items">
  <li class="shop-item">
    <img alt="" src="{{ 'wheelthrowing.jpg' | asset_url }}">
    <a href="/pages/wheelthrowing" class="shop-item__link">
      Wheel throwing course
    </a>
  </li>

  <li class="shop-item">
    <img alt="" src="{{ 'handbuilding.jpg' | asset_url }}">
    <a href="/pages/handbuilding" class="shop-item__link">
      Handbuilding course
    </a>
  </li>

  <li class="shop-item">
    <img alt="" src="{{ 'gift-voucher.jpg' | asset_url }}">
    <a href="/pages/gift-voucher" class="shop-item__link">
      Gift voucher
    </a>
  </li>
</ul>
