{% render 'page-title' %}

{% render 'page-image', image: page.image %}

<p>
  Clay comes in many forms, and we love to explore them all. We can teach you how to search for wild clay and make
  pottery with a deep connection to your local environment.
</p>

<img alt="" src="{{ 'wild-clay-berlin.jpg' | asset_url }}">

<br>
<br>

<p>
  Follow
  <a
    href="https://www.instagram.com/claystories.berlin"
    target="_blank"
    rel="noopener noreferrer"
  >our instagram</a>
  to stay updated about upcoming wild clay workshops!
</p>
