---
layout: default.html
title: "Clay Date"
# description: "TODO"
og_image: "./image.jpeg"
eleventyNavigation:
  key: clay-date
  title: "Clay Date"
  order: 21
---
{% include 'page-title.html' %}

{% include 'page-image.html' %}

<p>
<img src="./claydate claystories.jpg" alt="Clay Date">
</p>

<p>
Looking for a unique and memorable experience to share with your friends? Our <em>clay date</em> is the perfect way to connect, create, and have fun together.
</p>
<p>
Here's how it works: </p>
<ul>
<li>Book a table for 2 people for up to 2&nbsp;hours. 
<li>Get clay, tools and a booklet with ideas and detailed instructions of handbuilding techniques.
<li>Get creative - make a cup, vase or whatever you like, and spend a cosy time with your friend. 
<li>Pick up your finished pieces in about 2-3&nbsp;weeks - we will take care of the firing and glazing!
</ul> 

<p>Booklets with instructions are available in English and German. <br>
Please note that this is a self-guided handbuilding experience. It does not involve the use of pottery wheels. <br>No previous experience is neccessary. <br>
  If you would like to try wheel throwing, please check out our beginner's courses. </p> 

 <p>
  55 EUR per person. <br>*all materials and firing included. Book
  <a
    href="mailto:{{ site.author.email }}?subject=Clay%20Date%20Booking"
    target="_blank"
    rel="noopener noreferrer"
  >via email</a>
  or
  <a
    href="{{ site.business.address.mapUrl }}"
    target="_blank"
    rel="noopener noreferrer"
  >at our studio</a>.
</p>

 <br>

<img src="./claydate2.jpg" alt="Clay Date">
