@layer base
{
    @view-transition {
      navigation: auto;
    }

    :root
    {
        color-scheme: light dark;
        box-sizing: border-box;
        accent-color: var(--colour-accent);
        scrollbar-gutter: stable both-edges;
    }

    *,
    *::before,
    *::after
    {
        box-sizing: inherit;
    }

    body
    {
        display: flex;
        flex-direction: column;
        min-block-size: 100dvh;
        margin: 0;
        padding: 0;
        font: var(--typo-body);
        letter-spacing: var(--typo-body-letter-spacing);
        background-color: var(--colour-canvas);
        color: var(--colour-canvas-text);
    }

    a
    {
        color: var(--colour-accent);
    }

    img,
    svg
    {
        display: block;
        max-inline-size: 100%;
        max-block-size: 80lvb;
        block-size: auto;
        inline-size: auto;
        object-fit: contain;
        object-position: top;
        margin: auto;
    }

    h2,
    h3
    {
        letter-spacing: var(--typo-heading-letter-spacing);
        text-wrap: balance; /* TODO Only on narrow containers */
        text-box: trim-both cap alphabetic;
        color: var(--colour-heading);
    }

    h2
    {
        font: var(--typo-heading-2);
    }

    h3
    {
        font: var(--typo-heading-3);
    }

    small
    {
        font: var(--typo-small);
        letter-spacing: var(--typo-small-letter-spacing);
    }
}
