.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 100ch;
  margin-inline: auto;
  padding-inline: var(--spacing-small);
}

.main {
  flex: 1;
}

.header__heading,
.intro {
  margin-block: var(--spacing-medium);

  @media (height > 40em) {
    margin-block: var(--spacing-huge);
  }
}

.logo {
  display: block;
  width: 100%;
  height: auto;
  margin-inline: auto;
  color: var(--colour-accent);

  @media (width > 40em) {
    width: auto;
    height: 3em;
  }
}
