@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
    font-display: swap;
    src: url(/NotoSans.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Jost';
    font-weight: normal;
    font-style: normal;
    src: url(/Jost.woff2) format('woff2');
}

:root
{
    /**
    * ⚠ Variables with names starting with “--_” SHOULD NOT be used for anything else than declaring other variables in :root.
    */

    /**
     * PALETTE
     */
    --_palette-teracotta:   oklch(49% 0.08071 41.498);
    --_palette-brick-dark:  oklch(52% 0.07000 56.600);
    --_palette-brick-light: oklch(80% 0.04266 64.941);
    --_palette-white:       oklch(96% 0.02600 90.099);
    --_palette-white:       oklch(98% 0.01292 82.334);
    --_palette-leather:     oklch(28% 0.04580 42.735);

    /**
     * COLOURS
     */
    --colour-canvas: var(--_palette-white); /* also uses in og:image generation */
    --colour-canvas-text: var(--_palette-leather);
    --colour-accent: var(--_palette-brick-dark);
    --colour-separator: var(--_palette-brick-light);
    --colour-heading: var(--_palette-teracotta); /* also used in logo.svg */

    /**
     * TYPOGRAPHY
     */
     --_typo-body-font-family: 'Noto Sans', system-ui, sans-serif;
     --_typo-body-font-size: 1em;
     --_typo-body-line-height: 1.5;
     --_typo-body-letter-spacing: 0.025em;

     --_typo-heading-font-family: 'Jost', system-ui, sans-serif;
     --_typo-heading-2-font-size: clamp(1.2em, 2lvw + 1em, 2em);
     --_typo-heading-3-font-size: clamp(1.1em, 1.5lvw + 1em, 1.8em);
     --_typo-heading-letter-spacing: 0.05em;
     --_typo-heading-line-height: 1.25;

     --_typo-small-font-size: 0.875em;
     --_typo-small-line-height: 1.25;
     --_typo-small-letter-spacing: 0.025em;

     --typo-body: normal var(--_typo-body-font-size) / var(--_typo-body-line-height) var(--_typo-body-font-family);
     --typo-body-letter-spacing: var(--_typo-body-letter-spacing);

     --typo-small: normal var(--_typo-small-font-size) / var(--_typo-small-line-height) var(--_typo-body-font-family);
     --typo-small-letter-spacing: var(--_typo-small-letter-spacing);

     --typo-heading-2: normal var(--_typo-heading-2-font-size) / var(--_typo-heading-line-height) var(--_typo-heading-font-family);
     --typo-heading-3: normal var(--_typo-heading-3-font-size) / var(--_typo-heading-line-height) var(--_typo-heading-font-family);
     --typo-heading-letter-spacing: var(--_typo-heading-letter-spacing);

     /**
      * SPACING
      */
      --_spacing-multiplier: 1.5;

      --spacing-tiny: calc(var(--spacing-small) / var(--_spacing-multiplier));
      --spacing-small: calc(var(--spacing-medium) / var(--_spacing-multiplier));
      --spacing-medium: 1.5rem;
      --spacing-large: calc(var(--_spacing-multiplier) * var(--spacing-medium));
      --spacing-huge: calc(var(--_spacing-multiplier) * var(--_spacing-multiplier) * var(--spacing-large));

      /**
       * THICKNESS
       */
       --thickness-thin: 1px;
}
