---
layout: default.html
title: "Shop"
# description: "TODO"
og_image: "./image.jpeg"
eleventyNavigation:
  key: shop
  title: "Shop"
  order: 10
---
{% include 'page-title.html' %}

<p>
  Visit our studio to shop handmade ceramics made by our collective of artists.
</p>

<p>
  You can also buy vouchers for our pottery courses, perfect as a gift for your loved ones.
</p>

{% include 'page-image.html' %}
<br>
</p>
<img alt="" src="./claystories voucher.jpg">
<br>
<img alt="" src="./handmadeceramicshop.jpg">
<br>
<img alt="" src="./shop1.jpg"> <br>
<img alt="" src="./shop2.jpg"> <br>
<img alt="" src="./claystories shop.jpg">

