.section {
  position: relative;
  display: flex;
  gap: var(--spacing-medium) var(--spacing-large);
  flex-direction: column;
  margin-block: var(--spacing-huge);
}

.section__picture {
  display: contents;
}

.section__image {
  inline-size: 30em;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  hyphens: auto;
  hyphenate-limit-chars: 10 5 5;

  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > p {
    margin-block: 0;
  }

  > h2,
  > h3 {
    letter-spacing: var(--typo-heading-letter-spacing);
    text-align: center;
  }

  > h2 {
    font: var(--typo-heading-2);
  }

  > h3 {
    font: var(--typo-heading-3);
  }
}

.section__link::after {
  content: "";
  position: absolute;
  inset: 0;
}

@media (width > 45em) {
  .section {
    flex-direction: row;
    justify-content: space-between;
  }

  .section__image {
    flex-shrink: 0;
    inline-size: 51%;
    margin: 0;

    .section:nth-child(odd) & {
      order: 2;
    }
  }

  .section__content {
    > h2 {
      text-align: start;
    }
  }
}
