---
layout: default.html
title: "Ceramic studio memberships"
# description: "TODO"
og_image: "./image.jpeg"
eleventyNavigation:
  key: studio
  title: "Studio Memberships"
  order: 01
---
{% include 'page-title.html' %}

{% include 'page-image.html' %}

<p>
  Our cosy studio is located in the heart of Prenzlauer Berg, at {{ site.business.address.streetAddress }}. We offer a
  flexible membership option designed for independent makers who want the freedom to create on their own schedule.
</p>

<p>Membership includes:</p>
<p></p>

<ul>
  <li>flexible access to the studio</li>
  <li>use of professional wheels - Lindemann and Shimpo Whisper-T</li>
  <li>space for handbuilding</li>
  <li>selection of studio glazes</li>
  <li>a variety of professional tools and materials</li>
  <li>your own shelf to store your works and materials</li>
  <li>discount on studio workshops</li>

  
</ul>

<p>
  Membership fee: 195 eur per month.
  <br>
  * Clay and firing costs excluded. 
  <br>* * Optionally: rent extra space in the shop area to exhibit and sell your work.
<br>

<img alt="" src="./claystories studio.jpg">
<p>
  Whether you're a beginner or an experienced potter, our studio memberships offer a supportive and inspiring
  environment to nurture your creativity and develop your skills.
</p>

<p>
  Interested in becoming a member? Contact us at
  <strong>
    <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
  </strong>
</p>
